@charset "utf-8";

/*메인슬라이더*/
#section1{
    width:100%;
    background: -webkit-linear-gradient(90deg,rgb(51, 51, 51),rgb(83, 83, 83));
    position:relative;
}

#section1 .slide{}
#section1 .slide a{
    display:block;
    width:1200px;
    height:600px;
    margin:0 auto;
    position:relative;
}


/*#section1 .slide01 a{
    background:url(../images/mainSlider1.png) no-repeat center center;
    background-size:cover;
}
#section1 .slide02 a{
    background:url(../images/mainSlider2.jpg) no-repeat center center;
    background-size:cover;
}
#section1 .slide03 a{
    
}
#section1 .slide04 a{
    
}*/

#section1 .fp-controlArrow{
    border:0;
    width:40px;
    height:80px;
}
#section1 .fp-prev{
    background:url(../images/arrow_L.png) no-repeat;
    left:280px;
}
#section1 .fp-next{
    background:url(../images/arrow_r.png) no-repeat;
    right:280px;
}

#section1 .slide01 h2{
    position:absolute;
    top:-90px;
    left:50px;
    
}

#section1 .slide01 p{
    width:550px;
    height:200px;
    background:url(../images/con1_box.png) no-repeat center center;
    text-align:right;
    color:#fff;
    font-size:20px;
    padding:65px 30px 0 0;
    box-sizing:border-box;
    position:absolute;
    right:0;
    bottom:-100px;
}
#section1 .slide01 p span{
    font-size:25px;
}

#section1 .slide03{
    position:relative;
}
#section1 .slide03 .titBox{
    position:absolute;
    bottom:-100px;
    right:20px;
}

/*컨텐츠1*/
#section2{
    position:relative;
}
#section2 h2{
    position:absolute;
    top:60px;
    left:50%;
    margin-left:-69px;
}

.con1{
    margin-top:50px;
}
.con1 a{
    display:block;
    width:220px;
    height:320px;
    text-align:center;
    color:#fff;
    font-size:16px;
}
.con1 img{
    display:inline-block;
    margin-bottom:10px;
}

.con1 li{
    width:220px;
    height:320px;
    float:left;
    margin-right:25px;
    margin-bottom:25px;
}
.con1 li:first-child{
    margin-top:60px;
    background:url(../images/con1_pic1.png) no-repeat center center;
}
.con1 li:nth-child(2){
    background:url(../images/con1_pic2.png) no-repeat center center;
}
.con1 li:nth-child(3){
    margin-top:60px;
    background:url(../images/con1_pic3.png) no-repeat center center;
}
.con1 li:nth-child(4){
    background:url(../images/con1_pic4.png) no-repeat center center;
}
.con1 li:nth-child(5){
    margin-top:60px;
    background:url(../images/con1_pic5.png) no-repeat center center;
}
.con1 li:nth-child(6){
    background:url(../images/con1_pic6.png) no-repeat center center;
    margin-bottom:0;
}
.con1 li:nth-child(7){
    margin-top:-60px;
    background:url(../images/con1_pic7.png) no-repeat center center;
}
.con1 li:nth-child(8){
    background:url(../images/con1_pic8.png) no-repeat center center;
    margin-bottom:0;
}
.con1 li:nth-child(9){
    margin-top:-60px;
    background:url(../images/con1_pic9.png) no-repeat center center;
}
.con1 li:last-child{
    background:rgba(0,0,0,0.5);
    margin-bottom:0;
}

.con1 li:nth-child(5n){
    margin-right:0
}

.con1 li a{
    background:rgba(0,0,0,0.7);
    padding-top:100px;
    box-sizing:border-box;
    opacity:0;
    transition:opacity 0.3s;
}

.con1 li:last-child a{
    font-size:20px;
    padding-top:120px;
    background:none;
    opacity:100;
    transition:background 0.3s
}
.con1 li:hover a{
    opacity:100;
}
.con1 li:last-child a:hover{
    background:rgba(0,0,0,0.7);
}

/*컨텐츠2*/
#section3{
    background: -webkit-linear-gradient(-90deg,rgb(51, 51, 51),rgb(83, 83, 83));
    position:relative;
}

.con2{
    font-size:0;
    margin-top:50px;
}
.con2 h2{
    position:absolute;
    left:50%;
    margin-left:-110px;
    top:100px;
}

.con2 dl{
    display:inline-block;
    width:285px;
    height:570px;
    margin-right:20px;
    background:rgba(255,255,255,0.3)
}
.con2 dl:last-child{
    margin:0;
}
.con2 dt{
    font-size:15px;
    color:#fff;
    margin:30px 0 20px 0;
    margin-left:18px;
}
.con2 dd{
    font-size:12px;
    color:#ddd;
    margin-left:18px;
}
.con2 a:hover{
    text-decoration:underline;
    color:#ddd;
}

.more2{
    position:absolute;
    right:280px;
    top:50%;
    margin-top:-40px;
}